@use '../styles/variables' as v;

.app-container {
  min-height: 100vh;
  background: v.$background;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
  background: v.$background;
}